body,html{
  overflow: hidden;
  width: 100%; height: 100vh;
  border: 10px solid red;
}
.wraps{
  width: 100%; height: 100%;
  position: relative;
  min-width: 1100px;
}
.wrap{
  width: 1100px; margin: 0 auto;
}

.back_img{
  position: relative;
  width: 100%; 
}
.main{
  width: 100%;
  position: absolute; top: 0; 
}

.info{
  width:100%; height: 100%;
  background-color:  rgba(0, 0, 0, 0.5);
  position: fixed; z-index: 999999999;
}
.info span{
  color: white; position: absolute; 
  animation: jump; animation-duration: 1s;animation-iteration-count: infinite;
}
@keyframes jump {
    0% {transform: translateY(0);}
    50% {transform: translateY(-5px);}
    100% {transform: translateY(0);}
}
.click{
  border:3px dashed white;
  border-radius: 4px;
  color: white;
}
.click1{
  width: 2.5rem; height: 1.9rem;
  position: absolute;
  top:0.25%; right:0.35%;
}

.click2{
  width: 2.5rem; height: 1.9rem;
  position: absolute;
  top:0.3%; left:0.2%;
}
.click3{
  width: 10rem; height: 7rem;
  position: absolute;
  top: 8%; left: 29%;
  font-size: 1.2rem; padding: 1rem 0.5rem 0 0.5rem;
}
.click4{
  width: 18rem; height: 18rem;
  position: absolute;
  top:13%; right:3.5%;
  padding: 7rem 1.5rem; font-size: 2rem; 
}
.click5{
  width: 70rem; height: 5.5rem;
  position: absolute;
  bottom: 0; left:50%; 
  transform: translate(-50%)
}
.cl1 span{
  top:4.5%; left: 1.58%; font-size: 1.5rem;
}
.cl2 span{
  top: 4.5%; right: 2%; font-size: 1.5rem;
}
.cl5 span{
  bottom: 11%; left: 48%; font-size:2rem;
}

/* header */
.header{
  width: 100%; height: 3.5%;
  position: fixed; top:0; z-index: 998989;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}
.left{
  height: 100%; width: 20%;
  margin-left: 0.5rem;
  display: flex;
  align-items: center;
}
.logo{
  font-size: 1.25rem;
}
.left li,.right li{
  margin: 0 0.5rem;
  line-height: 3.5rem;
}
.right{
  height: 100%; 
  margin-right: 0.75rem;
  display: flex;
  align-items: center;
}
.sub_nav{
 overflow-y: auto;
 display:none;
 position: absolute;
 top: 0; right: -16%;
 z-index:999999999;
 width: 16%; height: 100%;
 background-color: rgba(0, 0, 0, 0.65);
 padding: 2rem;
}
.sub_list{
  color: white;
  position: absolute;
  top:0.5rem; right: 1.2rem;
}
.sub_list i:first-child{
  margin-right: 0.75rem;
}
.nav{
  border: 1.5px solid white;
  border-radius: 6px;
  width: 100%; height: 2.75rem;
  margin-top: 0.8rem;
  margin-bottom: 2rem;
  padding: 0.5rem;
  color:white;
  overflow-y: auto;
  display: block;
}
.nav_tit{
  font-weight: bold; 
  font-size: 1.2rem;
  display: inline-block;
  margin-top: 0.1rem;
}
.nav i{
  margin: 0.25rem;
}
.nav_cont{
  margin-top: 0.35rem;
  text-align: justify;
}
.navClass{
  height: 10rem;
}

/* apple logo */
.macs{
  display: none;
  position: absolute;
  top:3.5%; left:0;
  z-index: 999999;
  background-color:  rgba(0, 0, 0, 0.65);
  color: white;
  width: 9rem; height: 8rem;
}
.mac{
  line-height: 1.5rem;
  padding: 0.25rem;
}
.mac:hover{
  background-color: rgba(255, 255, 255, 0.733);
  color: black;
}

/* docs */
.docs{
  position: fixed;
  bottom: 0; left: 50%;
  transform: translate(-50%);
  z-index: 99999999;
  width: 80%; height: 9%;
  border-radius: 6px;
  background-color: rgba(68, 68, 68, 0.493);
}
.doc{
  margin-top: 0.3rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.docs li{
  margin: 0.25rem 1rem;
  width: 4.5rem; height: 4.5rem;
  position: relative;
}
.docs li:hover{
  cursor: pointer;
  transform: scale(1.1);
  transition: transform .35s
}
.app{
  display: none;
  position: absolute;
  top: -3rem; left: 50%;
  transform: translate(-50%);
  padding: 0.25rem 0.5rem;
  color: white;
  background-color:  rgba(66, 66, 66, 0.5);
  border-radius: 6px;
  border: 1px solid rgba(0, 0, 0, 0.589);
}

/* 폴더 */
.folders{
  width: 50rem;
  position: absolute;
  z-index: 88888;
  top: 7%; left: 5%;
}

.folder{
  cursor: pointer;
  float: left;
  margin: 1rem;
  width: 6.5rem;
}
.folder_name{
  border: 1px solid rgba(255, 255, 255, 0.281);
  border-radius: 3px;
  text-align: center;
  margin-top: -0.5rem;
  color: rgba(255, 255, 255, 0.801);
  background-color: rgba(27, 27, 27, 0.322);
  line-height: 1.25rem;
  display: none;
}
.fodal{
  display: none;
  background-image: url(../img/fodal.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-color: white;
  border-radius: 10px;
  width: 740px; height: 500px;
  position: absolute;
  top: 20%; left: 50%;
  transform: translate(-50%);
  z-index: 999999;
  position: relative;
}
.fodal-conts{
  overflow-y: auto;
  padding: 0.5rem; text-align: justify;
  font-size: 3rem;
  background-color: black;
  width: 70%; height: 83%;
  position: absolute;
  top: 15%; right: 0;
  display: flex;
}
.fodal-close{
  border-radius: 100px;
  width:1rem; height:1rem;
  cursor: pointer;
  position:absolute; z-index: 88888899;
  top: 0.45rem; left: 0.7rem; 
  color: rgba(255, 255, 255, 0.692);
}
.fodal-close:hover{border: 3px solid rgb(173, 1, 1);}
.pic_b{width: 50%;}
.pic_b > img {width: 100%;}
.pic_s{
  width: 42%;
  margin: 0 auto;
  border: 2px solid #aaa;
  display: flex; flex-wrap: wrap;}
.pic_s > li {flex: 1 1; }
.pic_s > li > img {width: 100%; margin: 0.25rem;}



/* post-it */
.postit{
  position: absolute; z-index:8888888;
  top:15%; right:5%;
  width:15rem; height: 15rem;
  background: linear-gradient(#F9EFAF, #F7E98D);
  padding: 1rem;
  transition: .1s;
  cursor: move;
  box-shadow: 5px 20px 10px rgba(27, 27, 27, 0.322);
}
.bts {
  float: right;
  font-size: 1.2rem;
  cursor: pointer;
}
.bts .bt_remove{color: brown;}
.bts .bt_save{color: seagreen;}

.postCont{
background-color: transparent;
min-width: 13rem; min-height: 11rem;
margin: 0.5rem 0;
outline: none; border: none;
overflow-y: auto;
text-align: justify;
}

/***** 반응형 *****/
@media screen and (max-width: 2560px) {
 
}
@media screen and (max-width: 1440px) {
  .info{display: none;}
  .res{display: none;}
}
@media screen and (max-width: 1024px) {
  .info{display: none;}
  .res{display: none;}
}

@media screen and (max-width: 768px) {
  .info{display: none;}
  .res{display: none;}
}

@media screen and (max-width: 480px) {
	.info{display: none;}
}

@media screen and (max-width: 320px) {
  .info{display: none;}
}
